# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDE
.vscode/
.idea/
*.swp

# Models & Data
*.pt
*.pth
*.model
*.zip

# Videos & Large Files
*.mp4
*.avi
*.mov

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
